.card {
    width: 90%;
    height: 8vh;

    margin-bottom: 10px;

    border-radius: var(--border-radius-small);

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    transition: 0.25s ease-in-out;
}

.card:hover {
    background: var(--theme-color-tone-2);
}

.card__image {
    width: 20%;
    height: 100%;

    border: 1px solid var(--theme-color-tone-2);
    border-radius: var(--border-radius-small);
}

.card__mid {
    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card__title {
    margin: 0;

    color: var(--text-color-1);

    font-size: 0.75rem;
}

.card__user {
    margin: 0;

    color: var(--text-color-2);

    font-size: 0.5rem;
    font-weight: 600;
}

@media only screen and (max-width: 1200px) {
    .card__image {
        width: 33%;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        justify-content: flex-start;
    }

    .card:first-child {
        margin-bottom: 25px;
    }

    .card__image {
        width: 20%;
        margin-right: 25px;
    }
}