.main__bar {
    position: fixed;
    
    width: 100%;
    height: 10vh;

    background: #070715;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: var(--text-color-1);

    border-bottom: 2px solid var(--theme-color-decor-2);
    
    z-index: 100;
}

.logo {
    margin: 0;
    margin-left: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Tektur', sans-serif;
    letter-spacing: 5px;

    cursor: pointer;
}

.logo h1 {
    color: var(--text-color-1);
}

.search__bar {
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search__bar input {
    padding: 10px 10px;
    width: 90%;

    text-transform: uppercase;
    font-style: italic;

    background: none;
    color: var(--text-color-3);

    border: 2px solid transparent;
    border-bottom: 2px solid var(--theme-color-tone-2);
    outline: none;

    font-size: 0.75rem;
}

.search__bar input:focus {
    border-bottom: 2px solid var(--text-color-2);
}

.search__bar input::before {
    content: 'ALMA';
}

.bar__item__container {
    margin: 0;
    margin-right: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bar__item__container a {
    margin: 0 15px;

    font-size: 1rem;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

    transition: 0.25s ease-in-out;
}

.bar__item__container a:hover {
    opacity: 0.7;
}

.logIn {
    margin: 0 0 0 50px;
    padding: 7px 10px 6px 10px;

    color: #252525;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.75rem !important;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;

    background: linear-gradient(var(--text-color-1), var(--text-color-1)) padding-box,
        linear-gradient(to right, var(--theme-color-decor-1), var(--theme-color-decor-2)) border-box;
    border-radius: var(--border-radius-large);
    border: 2px solid transparent;
}

.logIn svg {
    margin-right: 10px;
}

.admin {
    margin: 0;
    margin-left: 25px;
    padding: 7px 10px 6px 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-style: italic;
    font-weight: 600;

    color: crimson;
    background: var(--theme-color-tone-2);

    border-radius: var(--border-radius-small);

    transition: 0.25s ease-in-out;
}

.dashboard {
    margin: 0 0 0 50px;
    padding: 7px 10px 6px 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-style: italic;
    font-weight: 600;

    color: var(--text-color-1);
    background: var(--theme-color-tone-2);

    border-radius: var(--border-radius-small);

    transition: 0.25s ease-in-out;
}

.sandwitch {
    display: none;

    margin-right: 10px;
}

.sandwitch button {
    background: transparent;
    color: var(--text-color-2);

    border: 1px solid transparent;
    border-radius: 1px;

    font-size: x-large;
    font-weight: 900;
}

.side__panel {
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50vw;
    height: 100vh;
    
    position: fixed;
    top: 0;
    right: 0;

    background: var(--theme-color-tone-1);
    border-left: 2px solid var(--theme-color-decor-1);

    z-index: 10;
}

.side__panel a {
    margin: 15px 0;

    font-size: 1rem;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

    transition: 0.25s ease-in-out;
}

.side__panel a:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 1200px){
    .logo h1 {
        display: none;
    }

    .search__bar {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    .bar__item__container {
        display: none;
    }

    .logIn {
        max-width: 60%;
    }

    .admin {
        margin: 0px;
        margin-bottom: 10px;
    }

    .logo {
        margin-left: 10px;
    }

    .logo h1 {
        display: none;
    }

    .logo img {
        width: 50px;
        height: 32px;
    }

    .sandwitch {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .search__bar {
        width: 75%;
    }
}