.main__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5%;
}

.logo__container h1 {
    margin: 0;

    color: var(--text-color-1);

    font-family: 'Tektur', sans-serif;

    letter-spacing: 5px;
}

.logo__container p {
    margin: 0;

    color: var(--text-color-1);

    font-style: italic;
}

.main__container a {
    position: relative;

    padding: 5px 0px;

    color: var(--text-color-1);
    text-decoration: none;
    color: var(--theme-color-decor-1);

    transition: 0.25s ease-in-out;
}

.main__container a:hover {
    opacity: 0.8;
}

.section__left {
    width: 100%;

    padding-bottom: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-color-1);
}

.section__left .section__info__container {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section__image__container{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section__left .section__title {
    padding: 5px 30px 5px 20px ;

    background: var(--theme-color-decor-2);

    font-size: xx-large;
    font-style: italic;
    font-weight: 600;
    font-family: 'Tektur', sans-serif;

    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}

.section__left .section__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 10%;
    padding-top: 10px;
}

.section__right {
    width: 100%;

    padding-bottom: 5%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    color: var(--text-color-1);
}

.section__right .section__info__container {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section__right .section__title {
    padding: 5px 20px 5px 30px ;

    background: var(--theme-color-decor-2);

    font-size: xx-large;
    font-style: italic;
    font-weight: 600;
    font-family: 'Tektur', sans-serif;

    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
}

.section__right .section__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-right: 10%;
    padding-top: 10px;
}

.section__text {
    color: var(--text-color-3);

    font-size: medium;
    text-align: justify;
    text-transform: none;

    line-height: 20px;
}

.section__image {
    padding: 10px;

    background: var(--theme-color-tone-2);
}