.posts__container {
    padding: 25px 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
}

.posts__container::-webkit-scrollbar {
    height: 2px;
}

.post__card {
    width: 35vw;
    height: 30vh;

    margin: 0px 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--text-color-2);
    border-radius: var(--border-radius-large);

    overflow: hidden;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.post__card h3 {
    margin: 5px 10px;
    color: var(--text-color-1);
}

.post__card p {
    margin: 10px 15px;
    color: var(--text-color-3);

    text-align: justify;
    text-transform: none;
}

.title__bar {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--theme-color-tone-2);
}

.text__box {
    width: 100%;
    height: 70%;
    max-height: 75%;

    overflow-y: auto;

    font-size: 14px;
}

.footer {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 9px;
    font-style: italic;

    overflow-y: hidden;

    background-color: var(--theme-alter-2);
}

.more__button {
    height: 30vh;
    margin: 0px 15px;

    display: flex;
    justify-content: center;
    align-items: end;
}

.more__button a {
    padding: 5px 15px;

    color: var(--text-color-1);

    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;

    transition: 0.25s ease-in-out;
}

.more__button a:hover {
    cursor: pointer;
    color: var(--text-color-2);
}

.delete__button{
    padding: 1px 6px;
    margin: 5px 10px;

    border-radius: var(--border-radius-small);
    background: crimson;
    color: #050505;
    font-weight: 600;
    text-transform: none;

    transition: 0.25s ease-in-out;
}

.delete__button:hover{
    cursor: pointer;
    opacity: 0.7;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 600px) {
    .post__card {
        width: 70vw;
        height: 50vh;
    }

    .more__button {
        height: 50vh;
    }
}