.card {
    width: 90%;
    height: auto;

    margin-top: 10px;
    padding: 10px;

    border-radius: var(--border-radius-small);

    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.card:hover {
    background: var(--theme-color-tone-2);
}

.card__main {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__sub {
    width: 100%;

    margin-top: 5px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hashtag {
    padding: 5px;
    margin: 5px 15px 0px 0px;

    font-size: 8px;
    font-weight: 600;

    color: var(--text-color-3);
    background: var(--theme-color-tone-2);
    border-radius: var(--border-radius-large);
}

.card__image {
    width: 5%;
    height: 100%;

    font-size: 0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card__image h1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: var(--text-color-2);
    opacity: 0.5;
}

.card__image .rotate svg {
    transform: rotate(-45deg);
}

.card__mid {
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__mid .card__mid__text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.card__mid .card__mid__icons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    margin: 0;

    color: var(--text-color-1);

    font-size: 0.75rem;
}

.card__user {
    margin: 0;

    color: var(--text-color-2);

    font-size: 0.55rem;
    font-weight: 600;
}

.card__score {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    margin: 0 15px;

    color: var(--text-color-1);

    font-size: 1.25rem;
}

@media only screen and (max-width: 1200px) {
    .card__image {
        width: 10%;
    }

    .card__mid .card__mid__text {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        background: var(--theme-color-tone-2);
    }

    .card__image {
        width: auto;
    }
}