.main__container {
    width: 100%;
    min-height: 90vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summaries__wrapper {
    width: 50vw;

    padding: 20px;

    display: flex;
    flex-direction: column;
}

.summaries__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--text-color-1)
}

.summaries {
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;

    padding: 10px;

    color: var(--text-color-3);
}

.toggle {
    display: flex;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;

    margin: 10px 0px;
}

.toggle input {
    margin: 0;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    border: 1px solid #2a2a40;
    border-radius: var(--border-radius-large);
    background: var(--theme-alter-2);

    overflow: hidden;

    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.item:hover {
    background: var(--theme-color-tone-2);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    font-weight: 600;
}

.badge {
    font-size: 12px;
    color: #ffb703;
}

.button {
    background: #070715;
    border: 1px solid #202040;
    color: #dedede;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background: #12122a;
}

.empty {
    color: #aaa;
    font-style: italic;
}

.display__wrapper {
    width: 50vw;

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    width: 100%;
    height: 70vh;

    border-radius: var(--border-radius-large);
}